<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
  <title>bookit</title>
  <link href = "css/main.css" rel = "stylesheet" type = "text/css">
</head>

<body>
  <header>
    <nav>
      <ul class="navbar" >
        <div class="navbar-left">
          <li style = "float: left"><img src = "img/logo.png" height = 60px width = 60px></li>
          <li style = "float: left"><a class="nav-link" href="/" style = "color: black" onclick="currentSlide(1)">Home</a></li>
          <li style = "float: left"><a class="nav-link" href="/#about" style = "color: black" onclick="currentSlide(2)">About</a></li>
        </div>

        <div class="navbar-right">
          <li style = "float: right"><a class="nav-link" href="/signup" style = "color: black">
          <span class="fas fa-user"></span> Sign Up
          </a></li>
          <li style = "float: right"><a class="nav-link" href="/login" style = "color: black">
          <span class="fas fa-sign-in-alt"></span> Login</a></li>
        </div>
      </ul>
    </nav>
  </header>
<form>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label class="form-check-label"><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>
